<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.dao.vul.TaskInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.entity.vul.TaskInfo">
        <id column="id" property="id"/>
        <result column="task_name" property="taskName"/>
        <result column="task_type" property="taskType"/>
        <result column="task_no" property="taskNo"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="task_status" property="taskStatus"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_name, task_type, task_no, start_time, end_time, task_status, create_user, modify_user, gmt_create, gmt_modify, status
    </sql>

    <sql id="Table_Name">
        task_info
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" taskName != null">
            task_name,
        </if>
        <if test=" taskType != null">
            task_type,
        </if>
        <if test=" taskNo != null">
            task_no,
        </if>
        <if test=" startTime != null">
            start_time,
        </if>
        <if test=" endTime != null">
            end_time,
        </if>
        <if test=" taskStatus != null">
            task_status,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModify != null">
            gmt_modify,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" taskName != null">
            #{taskName },
        </if>
        <if test=" taskType != null">
            #{taskType },
        </if>
        <if test=" taskNo != null">
            #{taskNo },
        </if>
        <if test=" startTime != null">
            #{startTime },
        </if>
        <if test=" endTime != null">
            #{endTime },
        </if>
        <if test=" taskStatus != null">
            #{taskStatus },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            #{gmtModify },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" taskName != null">
            task_name = #{taskName },
        </if>
        <if test=" taskType != null">
            task_type = #{taskType },
        </if>
        <if test=" taskNo != null">
            task_no = #{taskNo },
        </if>
        <if test=" startTime != null">
            start_time = #{startTime },
        </if>
        <if test=" endTime != null">
            end_time = #{endTime },
        </if>
        <if test=" taskStatus != null">
            task_status = #{taskStatus },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            gmt_modify = #{gmtModify },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" taskName != null">
            and task_name = #{taskName }
        </if>
        <if test=" taskType != null">
            and task_type = #{taskType }
        </if>
        <if test=" taskNo != null">
            and task_no = #{taskNo }
        </if>
        <if test=" startTime != null">
            and start_time = #{startTime }
        </if>
        <if test=" endTime != null">
            and end_time = #{endTime }
        </if>
        <if test=" taskStatus != null">
            and task_status = #{taskStatus }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModify != null">
            and gmt_modify = #{gmtModify }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
    </sql>
    <insert id="saveSingle" parameterType="com.antiy.entity.vul.TaskInfo" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into
        <include refid="Table_Name"/>
        (
            task_name,
            task_type,
            task_no,
            start_time,
            end_time,
            task_status,
            create_user,
            gmt_create,
            status
        )
        values
        (
            #{taskName },
            #{taskType },
            #{taskNo },
            #{startTime },
            #{endTime },
            #{createUser },
            #{gmtCreate },
            #{status }
        )
    </insert>
    <update id="updateSingle" parameterType="com.antiy.entity.vul.TaskInfo">
        update
            task_info
        set
            task_name = #{taskName },
            task_type = #{taskType },
            start_time = #{startTime },
            end_time = #{endTime },
            modify_user = #{modifyUser },
            gmt_create = #{gmtCreate },
            gmt_modify = #{gmtModify }
    </update>
    <select id="queryById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        task_info
        where id = #{id}
    </select>
    <select id="queryCount" resultType="java.lang.Integer">
        select count(1) from task_info
    </select>
    <select id="queryList" resultType="com.antiy.entity.vul.TaskInfo">
        select
        <include refid="Base_Column_List"></include>
        from
        task_info
        order by gmt_create
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
</mapper>