<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.dao.vul.VulInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.entity.vul.VulInfo">
        <id column="id" property="id"/>
        <result column="vul_no" property="vulNo"/>
        <result column="vul_name" property="vulName"/>
        <result column="type" property="type"/>
        <result column="ip" property="ip"/>
        <result column="vul_port" property="vulPort"/>
        <result column="vul_address" property="vulAddress"/>
        <result column="address_owner" property="addressOwner"/>
        <result column="vul_type" property="vulType"/>
        <result column="vul_level" property="vulLevel"/>
        <result column="event_level" property="eventLevel"/>
        <result column="vul_desc" property="vulDesc"/>
        <result column="repair_suggest" property="repairSuggest"/>
        <result column="vul_material_name" property="vulMaterialName"/>
        <result column="vul_material_url" property="vulMaterialUrl"/>
        <result column="vul_status" property="vulStatus"/>
        <result column="task_id" property="taskId"/>
        <result column="system_type" property="systemType"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, vul_no, vul_name, type, ip, vul_port, vul_address, address_owner, vul_type, vul_level, event_level, vul_desc, repair_suggest, vul_material_name, vul_material_url, vul_status, task_id, system_type, create_user, modify_user, gmt_create, gmt_modify, status
    </sql>

    <sql id="Table_Name">
        vul_info
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" vulNo != null">
            vul_no,
        </if>
        <if test=" vulName != null">
            vul_name,
        </if>
        <if test=" type != null">
            type,
        </if>
        <if test=" ip != null">
            ip,
        </if>
        <if test=" vulPort != null">
            vul_port,
        </if>
        <if test=" vulAddress != null">
            vul_address,
        </if>
        <if test=" addressOwner != null">
            address_owner,
        </if>
        <if test=" vulType != null">
            vul_type,
        </if>
        <if test=" vulLevel != null">
            vul_level,
        </if>
        <if test=" eventLevel != null">
            event_level,
        </if>
        <if test=" vulDesc != null">
            vul_desc,
        </if>
        <if test=" repairSuggest != null">
            repair_suggest,
        </if>
        <if test=" vulMaterialName != null">
            vul_material_name,
        </if>
        <if test=" vulMaterialUrl != null">
            vul_material_url,
        </if>
        <if test=" vulStatus != null">
            vul_status,
        </if>
        <if test=" taskId != null">
            task_id,
        </if>
        <if test=" systemType != null">
            system_type,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModify != null">
            gmt_modify,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" vulNo != null">
            #{vulNo },
        </if>
        <if test=" vulName != null">
            #{vulName },
        </if>
        <if test=" type != null">
            #{type },
        </if>
        <if test=" ip != null">
            #{ip },
        </if>
        <if test=" vulPort != null">
            #{vulPort },
        </if>
        <if test=" vulAddress != null">
            #{vulAddress },
        </if>
        <if test=" addressOwner != null">
            #{addressOwner },
        </if>
        <if test=" vulType != null">
            #{vulType },
        </if>
        <if test=" vulLevel != null">
            #{vulLevel },
        </if>
        <if test=" eventLevel != null">
            #{eventLevel },
        </if>
        <if test=" vulDesc != null">
            #{vulDesc },
        </if>
        <if test=" repairSuggest != null">
            #{repairSuggest },
        </if>
        <if test=" vulMaterialName != null">
            #{vulMaterialName },
        </if>
        <if test=" vulMaterialUrl != null">
            #{vulMaterialUrl },
        </if>
        <if test=" vulStatus != null">
            #{vulStatus },
        </if>
        <if test=" taskId != null">
            #{taskId },
        </if>
        <if test=" systemType != null">
            #{systemType },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            #{gmtModify },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" vulNo != null">
            vul_no = #{vulNo },
        </if>
        <if test=" vulName != null">
            vul_name = #{vulName },
        </if>
        <if test=" type != null">
            type = #{type },
        </if>
        <if test=" ip != null">
            ip = #{ip },
        </if>
        <if test=" vulPort != null">
            vul_port = #{vulPort },
        </if>
        <if test=" vulAddress != null">
            vul_address = #{vulAddress },
        </if>
        <if test=" addressOwner != null">
            address_owner = #{addressOwner },
        </if>
        <if test=" vulType != null">
            vul_type = #{vulType },
        </if>
        <if test=" vulLevel != null">
            vul_level = #{vulLevel },
        </if>
        <if test=" eventLevel != null">
            event_level = #{eventLevel },
        </if>
        <if test=" vulDesc != null">
            vul_desc = #{vulDesc },
        </if>
        <if test=" repairSuggest != null">
            repair_suggest = #{repairSuggest },
        </if>
        <if test=" vulMaterialName != null">
            vul_material_name = #{vulMaterialName },
        </if>
        <if test=" vulMaterialUrl != null">
            vul_material_url = #{vulMaterialUrl },
        </if>
        <if test=" vulStatus != null">
            vul_status = #{vulStatus },
        </if>
        <if test=" taskId != null">
            task_id = #{taskId },
        </if>
        <if test=" systemType != null">
            system_type = #{systemType },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            gmt_modify = #{gmtModify },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" vulNo != null">
            and vul_no = #{vulNo }
        </if>
        <if test=" vulName != null">
            and vul_name = #{vulName }
        </if>
        <if test=" type != null">
            and type = #{type }
        </if>
        <if test=" ip != null">
            and ip = #{ip }
        </if>
        <if test=" vulPort != null">
            and vul_port = #{vulPort }
        </if>
        <if test=" vulAddress != null">
            and vul_address = #{vulAddress }
        </if>
        <if test=" addressOwner != null">
            and address_owner = #{addressOwner }
        </if>
        <if test=" vulType != null">
            and vul_type = #{vulType }
        </if>
        <if test=" vulLevel != null">
            and vul_level = #{vulLevel }
        </if>
        <if test=" eventLevel != null">
            and event_level = #{eventLevel }
        </if>
        <if test=" vulDesc != null">
            and vul_desc = #{vulDesc }
        </if>
        <if test=" repairSuggest != null">
            and repair_suggest = #{repairSuggest }
        </if>
        <if test=" vulMaterialName != null">
            and vul_material_name = #{vulMaterialName }
        </if>
        <if test=" vulMaterialUrl != null">
            and vul_material_url = #{vulMaterialUrl }
        </if>
        <if test=" vulStatus != null">
            and vul_status = #{vulStatus }
        </if>
        <if test=" taskId != null">
            and task_id = #{taskId }
        </if>
        <if test=" systemType != null">
            and system_type = #{systemType }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModify != null">
            and gmt_modify = #{gmtModify }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
    </sql>
    <insert id="saveSingle" parameterType="com.antiy.entity.vul.VulInfo" useGeneratedKeys="true" keyProperty="id">
        insert into vul_info
        (
            vul_name,
            type,
            ip,
            vul_port,
            vul_address,
            vul_department,
            address_owner,
            vul_type,
            vul_level,
            event_level,
            event_level_detail,
            vul_desc,
            repair_suggest,
            vul_material_name,
            vul_material_url,
            vul_status,
            task_id,
            system_type,
            create_user,
            gmt_create,
            modify_user,
            status
        )
        values
        (
            #{vulName },
            #{type },
            #{ip },
            #{vulPort },
            #{vulAddress },
            #{vulDepartment,},
            #{addressOwner },
            #{vulType },
            #{vulLevel },
            #{eventLevel },
            #{eventLevelDetail},
            #{vulDesc },
            #{repairSuggest },
            #{vulMaterialName },
            #{vulMaterialUrl },
            #{vulStatus },
            #{taskId },
            #{systemType },
            #{createUser },
            #{gmtCreate },
            #{modifyUser},
            #{status }
        )

    </insert>
    <update id="updateVulNo">
        update vul_info set vul_no = #{vulNo} where id = #{id}
    </update>
    <update id="updateSingle" parameterType="com.antiy.entity.vul.VulInfo">
        update vul_info set
            vul_name = #{vulName },
            ip = #{ip },
            vul_port = #{vulPort },
            vul_address = #{vulAddress },
            address_owner = #{addressOwner },
            vul_type = #{vulType },
            vul_status = #{vulStatus },
            vul_level = #{vulLevel },
            event_level = #{eventLevel },
            event_level_detail = #{eventLevelDetail},
            vul_desc = #{vulDesc },
            repair_suggest = #{repairSuggest },
            vul_material_name = #{vulMaterialName },
            vul_material_url = #{vulMaterialUrl },
            modify_user = #{modifyUser },
            gmt_modify = #{gmtModify }
        where
        id = #{id}
    </update>
    <update id="updateVulStatus">
        update vul_info set vul_status = #{vulStatus}, system_type = #{systemType},modify_user = #{modifyUser},gmt_modify=#{gmtModify} where id = #{id}
    </update>
    <!--检查漏洞重复-->
    <select id="checkRepeat" resultType="java.lang.Integer">
        select
            count(1)
        from
            vul_info
        where
            vul_name = #{vulName}
            and vul_type = #{vulType}
            and vul_address = #{vulAddress}
            and status = 1
    </select>
    <select id="queryCount" resultType="java.lang.Integer" parameterType="com.antiy.query.vul.VulInfoQuery">
        select
        count(1)
        from
        vul_info v left join task_info t on v.task_id = t.id
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            v.status = 1
            <if test="taskId != null">
                and v.task_id = #{taskId}
            </if>
            <if test="vulStatus != null">
                and v.vul_status = #{vulStatus}
            </if>
            <if test="vulNo != null and vulNo != ''">
                and v.vul_no like concat('%',#{vulNo},'%')
            </if>
            <if test="vulName != null and vulName != ''">
                and v.vul_name like concat('%',#{vulName},'%')
            </if>
            <if test="taskName != null and taskName != ''">
                and t.task_name like concat('%',#{taskName},'%')
            </if>
            <if test="vulLevel != null">
                and v.vul_level = #{vulLevel}
            </if>
            <if test="vulAddress != null and vulAddress != ''">
                and v.vul_address like concat('%',#{vulAddress},'%')
            </if>
            <if test="addressOwner != null">
                and v.address_owner = #{addressOwner}
            </if>
            <if test="commitUser != null">
                and v.create_user = #{commitUser}
            </if>
            <if test="commitDept != null">
                and v.vul_department = #{commitDept}
            </if>
            <if test="userId != null">
                and v.create_user = #{userId}
            </if>
        </trim>
    </select>
    <select id="queryList" resultType="com.antiy.response.vul.VulInfoResponse">
        select
        v.id,
        v.vul_no as vulNo,
        v.vul_level as vulLevel,
        v.vul_name as vulName,
        v.type,
        v.vul_status as vulStatus,
        v.vul_type as vulType,
        v.ip,
        v.task_id as taskId,
        t.task_name as taskName,
        v.vul_port as vulPort,
        v.vul_address as vul_Address,
        v.gmt_create as commitDate,
        d.id as vulDepartment,
        d.name as vulDepartmentName,
        v.create_user as commitUser,
        u.username as commitUserName,
        v.address_owner as addressOwner,
        d.name as addressOwnerName
        from
        vul_info v left join task_info t on v.task_id = t.id
        left join department d on v.vul_department = d.id
        left join user u on v.create_user = u.business_id
        left join department d2 on v.address_owner = d2.id
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            v.status = 1
            <if test="taskId != null">
                and v.task_id = #{taskId}
            </if>
            <if test="vulStatus != null">
                and v.vul_status = #{vulStatus}
            </if>
            <if test="vulNo != null and vulNo != ''">
                and v.vul_no like concat('%',#{vulNo},'%')
            </if>
            <if test="vulName != null and vulName != ''">
                and v.vul_name like concat('%',#{vulName},'%')
            </if>
            <if test="taskName != null and taskName != ''">
                and t.task_name like concat('%',#{taskName},'%')
            </if>
            <if test="vulLevel != null">
                and v.vul_level = #{vulLevel}
            </if>
            <if test="vulAddress != null and vulAddress != ''">
                and v.vul_address like concat('%',#{vulAddress},'%')
            </if>
            <if test="addressOwner != null">
                and v.address_owner = #{addressOwner}
            </if>
            <if test="commitUser != null">
                and v.create_user = #{commitUser}
            </if>
            <if test="commitDept != null">
                and v.vul_department = #{commitDept}
            </if>
            <if test="userId != null">
                and v.create_user = #{userId}
            </if>
        </trim>
        order by v.gmt_create desc
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="queryDetail" resultType="com.antiy.response.vul.VulInfoResponse">
        select
            v.id,
            v.vul_no as vulNo,
            v.vul_name as vulName,
            v.vul_status as vulStatus,
            v.address_owner as addressOwner,
            d.name as addressOwnerName,
            v.vul_type as vulType,
            v.type,
            v.vul_department as vulDepartment,
            d2.name as vulDepartmentName,
            v.event_level as eventLevel,
            v.vul_level as vulLevel,
            event_level_detail as eventLevelDetail,
            v.vul_desc as vulDesc,
            v.vul_material_name as vulMaterialName,
            v.vul_material_url as vulMaterialUrl,
            v.repair_suggest as repairSuggest,
            v.ip,
            v.task_id as taskId,
            t.task_name as taskName,
            v.vul_port as vulPort,
            v.vul_address as vulAddress,
            v.create_user as commitUser,
            u.username as commitUserName,
            v.gmt_create as commitDate
        from
            vul_info v left join department d on v.address_owner = d.id
            left join user u on v.create_user = u.business_id
            left join department d2 on v.vul_department = d2.id
            left join task_info t on v.task_id = t.id
        where
            v.id = #{id}
            and v.status = 1
    </select>
    <select id="getVulSubmitTrend" resultType="map">
        SELECT FROM_UNIXTIME(gmt_create/1000, '%m月%d日') days,count(id) num FROM vul_info
        <where>
            gmt_create &gt;= #{start} and gmt_create &lt;= #{end} and type = 1
            <if test="taskId != null">
                and task_id = #{taskId}
            </if>
        </where>
        GROUP BY days;
    </select>

    <select id="getVulRepairTrend" resultType="map">
        SELECT FROM_UNIXTIME(gmt_create/1000, '%m月%d日') days,count(id) num FROM vul_info
        <where>
            gmt_create &gt;= #{start} and gmt_create &lt;= #{end} and type = 2
            <if test="taskId != null">
                and task_id = #{taskId}
            </if>
        </where>
        GROUP BY days;
    </select>
    <select id="queryNoPassVulByUserId" resultType="java.lang.String">
        select vul_name from vul_info where create_user = #{userId} and vul_status = 3
    </select>
</mapper>