<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.dao.user.RoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.entity.user.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="tag" property="tag"/>
        <result column="description" property="description"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, tag, description
    </sql>

    <sql id="Table_Name">
        role
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" name != null">
            name,
        </if>
        <if test=" tag != null">
            tag,
        </if>
        <if test=" description != null">
            description,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" name != null">
            #{name },
        </if>
        <if test=" tag != null">
            #{tag },
        </if>
        <if test=" description != null">
            #{description },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" name != null">
            name = #{name },
        </if>
        <if test=" tag != null">
            tag = #{tag },
        </if>
        <if test=" description != null">
            description = #{description },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" name != null">
            and name = #{name }
        </if>
        <if test=" tag != null">
            and tag = #{tag }
        </if>
        <if test=" description != null">
            and description = #{description }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.entity.user.Role" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.entity.user.Role" >
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="findCount" resultType="int" parameterType="com.antiy.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
                </trim>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="findRoleIdByUserId" resultType="integer">
        select role_id  from user_role where user_id = #{businessId}
    </select>
    <insert id="saveUserRole" parameterType="map">
        insert into user_role(user_id, role_id) values (#{userId}, #{roleId});
    </insert>
    <select id="findRole" resultType="com.antiy.entity.user.Role">
        select id,name,tag,description from role r join user_role ur on r.id = ur.role_id where
         ur.user_id = #{userId}
    </select>
</mapper>