<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.dao.user.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.entity.user.User">
        <id column="id" property="id"/>
        <id column="business_id" property="businessId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="department" property="department"/>
        <result column="departmentName" property="departmentName"/>
        <result column="roleName" property="roleName"/>
        <result column="idcard" property="idcard"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_id, username, password, name, department, idcard, phone, status,last_login_time,gmt_create,create_user
    </sql>

    <sql id="Table_Name">
        user
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" businessId != null">
            business_id,
        </if>
        <if test=" username != null">
            username,
        </if>
        <if test=" password != null">
            password,
        </if>
        <if test=" name != null">
            name,
        </if>
        <if test=" department != null">
            department,
        </if>
        <if test=" idcard != null">
            idcard,
        </if>
        <if test=" phone != null">
            phone,
        </if>
        <if test=" status != null">
            status,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" businessId != null">
            #{businessId},
        </if>
        <if test=" username != null">
            #{username },
        </if>
        <if test=" password != null">
            #{password },
        </if>
        <if test=" name != null">
            #{name },
        </if>
        <if test=" department != null">
            #{department },
        </if>
        <if test=" idcard != null">
            #{idcard },
        </if>
        <if test=" phone != null">
            #{phone },
        </if>
        <if test=" status != null">
            #{status },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate},
        </if>
        <if test=" createUser != null">
            #{createUser},
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" username != null">
            username = #{username },
        </if>
        <if test=" password != null">
            password = #{password },
        </if>
        <if test=" name != null">
            name = #{name },
        </if>
        <if test=" department != null">
            department = #{department },
        </if>
        <if test=" idcard != null">
            idcard = #{idcard },
        </if>
        <if test=" phone != null">
            phone = #{phone },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
        <if test=" lockedTime != null">
            locked_time = #{lockedTime },
        </if>
        <if test=" lastLoginTime != null">
            last_login_time = #{lastLoginTime },
        </if>
        <if test=" errorCount != null">
            error_count = #{errorCount },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" username != null">
            and username = #{username }
        </if>
        <if test=" password != null">
            and password = #{password }
        </if>
        <if test=" name != null">
            and name = #{name }
        </if>
        <if test=" department != null">
            and department = #{department }
        </if>
        <if test=" idcard != null">
            and idcard = #{idcard }
        </if>
        <if test=" phone != null">
            and phone = #{phone }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.entity.user.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.entity.user.User" >
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where business_id = #{businessId}
    </update>

    <update id="updateUserPassword">
      update user set password = #{encodePwd} where business_id = #{businessId}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where business_id = #{id}
    </select>

    <delete id="deleteById">
        delete from
        <include refid="Table_Name"></include>
        where business_id = #{id}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="findCount" resultType="int" parameterType="com.antiy.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
                </trim>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.base.ObjectQuery">
        select u.*,d.name departmentName,r.name roleName from
        user u join department d on u.department=d.id join user_role ur on
        u.business_id = ur.user_id join role r on ur.role_id = r.id
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
        <choose>
            <!-- 支持多字段排序 -->
            <when test="sortSql != null">
                order by
                <foreach collection="sortSql" item="s" separator=",">
                    ${s}
                </foreach>
            </when>
            <otherwise>
                order by gmt_create desc
            </otherwise>
        </choose>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="findCountByUsername" resultType="integer">
        select count(*) from user where username = #{username}
    </select>
    <select id="getUsersByUsername" resultMap="BaseResultMap">
        select business_id, username,password,name,department,phone,idcard,gmt_create,status,error_count,last_login_time,locked_time from user where username = #{username}
    </select>
    <select id="getDepartmentList" resultType="com.antiy.entity.user.Department">
        select id, name from department
    </select>
    <select id="getEventLevel" resultType="com.antiy.entity.vul.EventLevel">
      select id,event_level level,content from event_level
    </select>
    <select id="getALlUser" resultMap="BaseResultMap">
        select business_id, name, department, phone from user
    </select>
    <select id="getRoleByUserId" resultType="java.lang.Integer">
        select role_id from user_role where user_id = #{userId}
    </select>
    <select id="getUserIdByRole" resultType="java.lang.String">
        select business_id from user_role where role_id = #{role}
    </select>
</mapper>